.jamaican__info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.japp {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
  align-items: center;
}

.japp__left {
  flex: 0.8;
}

.japp__header > h1 {
  font-size: 2rem;
  margin-right: 20px;
}

.japp__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.japp__dropdown {
  background-color: white;
}

.japp__stats {
  display: flex;
  justify-content: space-between;
}

.jamaican__map {
  height: 600px;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.jamaican__map .leaflet-container {
  height: 600px;
  border-radius: 12px;
}

.jainfo-container {
  width: 150px;
}

.jainfo-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.jainfo-confirmed,
.jainfo-recovered,
.jainfo-deaths {
  font-size: 16px;
  margin-top: 5px;
}

.japp__right {
  display: flex;
  height: 550px;
  flex-direction: column;
}
